<div  class="fill">

	<div class="container page-header">
        <img class="header-icon" src="/img/icon.png" >
        <h1>Wardolph</h1>
        <p>Sentiment analysis</p>
        <div class="bs-component">
              <h3>Blog</h3>
              <p>Helps make sence of sentiments or emotions associated with a specific topic. Sentiments expressed around the world.</p>
              <p>
                <span class="text-success">Green is for positive sentiment.</span>
                <span class="text-danger">Red is for negative sentiment.</span>
              </p>
              <p class="text-warning">Anything in between is an  interpolation of sentiment values between green and red.</p>
              <p>Circle size is directly proportional to the amount of data we have in that region. Hovering over the circle will give you the data size and the calculated sentiment value for that circle.</p>
              <p>On page load you see over all sentiment of the topic. You can filter down sentiment by keywords inside that topic using the navigation bar.</p>
              <p><img src="/img/zoom.png" height="16"> Zoom in and out on the maps to get a better picture of the sentiment values in a region.</p>
              <p>You can view the <a href="http://github.com/wardolph/wardolph">Source Code on GitHub</a></p>
              <p>For any queries please <a href="mailto:blackice@wardolph.com">contact BlackIce</a></p>
            </div>
        
    </div>
    
    

</div>