<div  class="fill">

	<div class="container page-header">
        <img class="header-icon" src="/img/icon.png" >
        <h1>Wardolph</h1>
        <p>Sentiment analysis</p>
        <div class="bs-component">
              <h3>About Me</h3>
              <p>This is an opensource project. Helps make sence of sentiment/emotion associated with a topic in different regions of the world.</p>
              <p class="text-success">Green colour is for positive sentiment.</p>
              <p class="text-danger">Red is for negative sentiment.</p>
              <p class="text-warning">Anything in between is an  interpolation of sentiment values between green and red</p>
              <p>On page load you see over all sentiment of the topic. You can filter down sentiment by keywords inside that topic by using the navigation bar.</p>
              <p><img src="/img/zoom.png" height="16"> Zoom in and out on the maps to get a better picture of the sentiment values in a region.</p>
              <p>You can view the <a href="http://github.com/wardolph/wardolph">Source Code on GitHub</a></p>
            </div>
        
    </div>
    
    

</div>