<div  class="fill">
<link rel="stylesheet" href="/css/bootstrap-slider.css">
<link rel="stylesheet" href="/partial/sentimentAnalysis/sentimentAnalysis.css">
	<div class="container page-header">
        <img class="header-icon" src="/img/icon.png" >
        <h1>Wardolph</h1>
        <p>Sentiment analysis</p>
        <p>
          <span class="label label-info">{{pageTitle}}</span>
          <span class="label label-primary">{{activeFilter}}</span>
        </p>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
              
                <ul class="nav navbar-nav">
                  <li ng-repeat="(filterKey, filterItem) in filterData" ng-class="{ 'active': activeFilter==filterKey}">
                  	<a href="javascript:void(0)" ng-click="initFilter(filterKey)">{{filterKey}}</a>
                  </li>
                  
                </ul>
                <ul class="nav navbar-nav navbar-right" style="display:none;">
                  <li class="time-slider-container">
                    <span class="title">Time Series</span>
                    <input class="time-slider" type="text" data-slider-min="0" data-slider-max="12" data-slider-step="1" data-slider-value="8" data-slider-tooltip="hide"/>
                  </li>
                </ul>
            </div>
          </nav>
    </div>
    <div id="map-canvas" ></div>
    
    

</div>