<div class="home" ng-init="getPeerValues()">
  <div class="jumbotron centered">
    <h1>Admin</h1>
    <p>Configure peers for data collection.</p>

    <accordion close-others="true">
        <accordion-group ng-repeat="node in peerData" heading="{{node.name}}" class="panel panel-primary">
            <div class="form-group">
              <label class="control-label" for="{{node.name}}collectionName">Collection Name</label>
              <input type="text" class="form-control" id="{{node.name}}collectionName" ng-model="node.collectionName">
            </div>

            <div class="form-group" ng-repeat="i in [0,1,2,3,4]">
              <label class="control-label" for="{{node.name}}{{i}}">Search Keyword {{i+1}}</label>
              <input class="form-control input-sm" type="text" id="{{node.name}}{{i}}" ng-model="node.searchKeywords[i]">
            </div>

            
        </accordion-group>
    </accordion>

    <p><a class="btn btn-primary btn-lg" role="button" ng-click="updatePeers()">Update Peers</a></p>
    <!-- <p ng-repeat="node in nodes">
    	<a class="btn btn-primary btn-lg" role="button" ng-click="getNodeValues(node)">{{node}}</a>
    </p>
    <p><a class="btn btn-primary btn-lg" role="button" ng-click="callAnonymousApi()">Call Anonymous API</a></p>
    <p><a class="btn btn-primary btn-lg" role="button" ng-click="callSecuredApi()">Call Secure API</a></p> -->
    <h2 ng-show="response">The response of calling the <span class="red">{{api}}</span> API is:</h2>
    <h3 ng-show="response">{{response}}</h3>
  </div>



</div>
